.App {
	text-align: center;
}

.button {
	display: inline;
	padding-right: 10px;
    text-align: center;
}

.container {
    position: absolute;
    margin-top: 30px;
    
}
.row {
  margin-bottom: 45px;
  text-align: center;
}

.container .row button {
  margin: 0 20px;

}

.buttons {
	 display: inline;
 }

.cheater {
	padding-left:10px;
}

.game {
	padding-left:10px;
	display: flex;
	justify-content: space-around;
}

.letsplay {
	padding-top:50px;
 }



.listOfWords {
	border: 5px solid;
	/* padding-top: 10px;
	width: auto; */
	height: 300px;
	columns: 2;
	list-style-type: none;
	column-fill: auto;
	margin: 0;
	margin-block-start: 0;
    margin-block-end: 0;
	padding-inline-start: 40px;

}

.maingame {
	flex-grow: 1;
}

.rankbox {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 70px;
	height: 30px;
	border: 5px solid;
	padding: 5px;
}


.scoreandrank {
	display: flex;
	justify-content: space-between;
	margin-right: 30%;
}

.scorebox {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 30px;
	height: 30px;
	border: 5px solid;
	padding: 5px;
}

.scoresandlist {
	flex-grow: 1;
	align-items: flex-start;
	margin-right: 10%;
	margin-left: 20%;

}

.wordsubmit {
    padding-left:10px;
    display: inline;
}

.submit {
	padding-left:10px;
	margin-top: 5px;
    text-align: center;
	
}

.welcome {
	text-align: center;
}
