.App {
	text-align: center;
}

.button {
	display: inline;
	padding-right: 10px;
    text-align: center;
}

.buttons {
	 display: inline;
 }

.font {
  font-family: Spartan;
}

.hb, #button1:after, #button1:before, #button2:after, #button2:before, #button3:after, #button3:before, #button4:after, #button4:before, #button5:after, #button5:before, #button6:after, #button6:before {
    background-color: #FFFAF0!important;
    border-left: 1px solid #FFFAF0;
    border-right: 1px solid #FFFAF0;
    border-color: black!important;
    color: black;
    font-family: Playfair Display;
    font-size: 0.5em;
    font-weight: bold;
}

#button1:hover, #button2:hover, #button3:hover, #button4:hover, #button5:hover, #button6:hover {
  background-color: #FFFAF0!important;
  border-left: 1px solid black!important;
  border-right: 1px solid black!important;
  border-color: black!important;
  color: black;
    font-family: Playfair Display;
  cursor: pointer;
}

#button1:active, #button2:active, #button3:active, #button4:active, #button5:active, #button6:active, #button0:active {
transform: scale(.9);
}

.hb-md {
    line-height: 74px;
    font-size: 74px;
    margin: 20px 0;
    font-size: 2.5em;
}

.hb-custom, #button0:after, #button0:before {
  background-color: #FFD700!important;
  border-left: 1px solid #FFD700;
  border-right: 1px solid #FFD700;
  border-color: black!important;
  color: black!important;
      font-family: Playfair Display;
      font-weight: bold;
}

#button0:hover {
  background-color: #FFD700!important;
  border-left: 1px solid #FFD700;
  border-right: 1px solid #FFD700;
    border-color: black!important;
  color: black;
  cursor: pointer;
      font-family: Playfair Display;
}

.beehive {
    position: absolute;
    margin-top: 50px;
    margin-bottom: 50px;
}

.row {
  margin-bottom: 0px;
  text-align: center;
}


.cheater {
	padding-left:10px;
}

.game {
	padding-left:10px;
	display: flex;
	justify-content: space-around;
}

.gameInfo {
	display: flex;
	border-bottom: 1px solid black;
	justify-content: space-between;
	padding-left: 3%;
	padding-right: 3%;
}

#date {
    font-family: Caladea;
    font-size: 1em;
		align-self:flex-start;
}

#login {
	font-family: Caladea;
	font-size: 1em;
}

#loginContainer {
	font-family: Caladea;
	font-size: 1em;
}

.letsplay {
	padding-top:50px;
 }

#userinput {
  outline:none;
  border:none;
  background-color: transparent;
  font-family: Spartan;
  color: #FFD700;
  font-size: 2.5em;
  text-align: center;
  margin-left: -2.5em;
  caret-color: black;
  font-weight: bolder;
  text-transform: uppercase;
}

#validation {
  text-align: center;
  margin-left: 0em;
  padding: 0px;
  margin-right: 0px;
  background-color: white;
  color: black;
  max-height: 30px;
  min-height: 30px;
  width: 10em;
  margin-left: 7em;
}


.listOfWords {
	border: 1px solid;
	padding-top: 20px;
/*	width: auto; */
	height: 300px;
	columns: 2;
	list-style-type: none;
	column-fill: auto;
	margin: 0;
	margin-block-start: 0;
    margin-block-end: 0;
	padding-inline-start: 40px;
    border-radius: 10px;

}

.maingame {
	flex-grow: 1;
  margin-left: 20em;
  margin-top: 1em;
}

.rankbox {
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 150px;
	min-height: 35px;
	max-width: 150px;
	max-height: 35px;
	border: 1px solid;
    border-radius: 10px;
	padding: 5px;
}


.scoreandrank {
	display: flex;
	justify-content: space-between;
	margin-right: 30%;
}

.scorebox {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 35px;
	height: 35px;
	border: 1px solid;
	padding: 5px;
    border-radius: 10px;
}

.scoresandlist {
	flex-grow: 1;
	align-items: flex-start;
	margin-right: 10%;
	margin-left: 5%;

}

.wordsubmit {
    padding-left:10px;
    display: inline;
    font-family: Spartan;
    padding: 1em;
    background-color: white;
}

.submitButton {
	margin-top: 5px;
    text-align: center;
font-family: Spartan;
background-color: white;
padding: 1em;
  border-radius: 40px;
border-style: solid;
visibility: hidden;

}

.cheatButton {
  padding-left:10px;
	margin-top: 70px;
    text-align: center;
font-family: Spartan;
background-color: white;
padding: 1em;
  border-radius: 40px;
  border-style: solid;
}

.reshuffleButton {
  margin-left:8.5em;
	margin-top: 5px;
    text-align: center;
font-family: Spartan;
font-size: 1.2em;
background-color: white;
padding: 1em;
  border-radius: 40px;
  border-style: solid;
}

.reshuffleButton:active, .cheatButton:active, .submitButton:active {
background-color: #DCDCDC;

}

.reshuffleButton:hover, .cheatButton:hover, .submitButton:hover {
cursor:pointer;

}

.welcome {
	text-align: left;
  font-family: Caladea;
  font-size: 3.5em;
  font-weight: bold;
  margin-bottom: 0em;
  padding-left: 1em;
  padding-bottom: 0em;

}

.logoutButton, .newPuzzleButton {
  align-self: center;
  font-family: Spartan;
  font-size: 0.7em;
  background-color: #FFD700;
  padding: 1em;
  border-radius: 40px;
  border-style: solid;
  border: 1px solid black;
	margin: 0.5em;
	margin-left: 2em;
}

.newPuzzleButton {
	margin-left: 0em;
}

.logoutButton:active, .newPuzzleButton:active {
background-color: #DCDCDC;

}

.logoutButton:hover, .newPuzzleButton:hover {
cursor:pointer;
}
